<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>Sponsored By</span></h4>
    <ol class="list-sponsors">
        <li class="mb-4">
            <div style="background-color: #febfa2; padding: 15px; border-style: solid; border-width: 2px; border-color: black; margin-bottom: 15px; border-radius: 10px; margin-top: 30px;" >
                <span style="color: #333333;">
                    <a href="https://wndx.school?utm_source=dragonrubydispatch.com&utm_campaign=HOMEPAGE">WNDX School</a>
                    is your one-stop shop for all your RubyMotion, DragonRuby, and mobile app creation courses.
                    <a href="https://wndx.school?utm_source=dragonrubydispatch.com&utm_campaign=HOMEPAGE">Start with our FREE courses today!</a>.
                </span>
            </div>
        </li>
        <li class="mb-4">
            <div style="background-color: #74AFAA; padding: 15px; border-style: solid; border-width: 2px; border-color: black; margin-bottom: 15px; border-radius: 10px; margin-top: 30px;" >
                <span style="color: #333333;">
                    Tech newsletter 🗞️ content crunch and not keen for an AI-powered robot 🦾 write it for
                    you? The real, live human beings at <a href="https://intellog.com/content-crunch.html?utm_source=dragonrubydispatch.com&utm_campaign=HOMEPAGE">Intellog</a>
                    can help. <a href="https://intellog.com/content-crunch.html?utm_source=dragonrubydispatch.com&utm_campaign=HOMEPAGE">
                    Find out more</a>.&nbsp;&nbsp;
                </span>
            </div>
        </li>
    </ol>
</div> 